/* dispositivos mobiles < 768 < dispositivos medianos < 1024px < dispositivos de computadoras */

@media (max-width: 767.8px) {

  .paddingBottomCien {
    padding-bottom: 80px;
  }


  /* =========================== */
  /*           HEADER            */
  /* =========================== */
  header .navbar {
    /* width: 100%; */
    height: 70px;
  }
  .navbar-collapse .nav {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around !important;
  }
  header .navbar .nav .nav-item {
    margin-right: 0px;
  }
  .nav .nav-link {
    font: 200 13px/70px "Rubik", sans-serif;
  }
  /* =========================== */
  /*         FIN HEADER          */
  /* =========================== */

  /* =========================== */
  /*           BANNER            */
  /* =========================== */
  .seccion_banner .banner_inner .container .row {
    padding: 70px 0px 20px 0px;
  }
  .seccion_banner .banner_inner .container .row .txt-left {
    height: 190px;
  }
  .seccion_banner .banner_inner .banner_content h3 {
    font-size: 23px;
    margin: 0;
  }
  .seccion_banner .banner_inner .banner_content h3:after {
    display: none;
  }
  .seccion_banner .banner_inner .banner_content h1 {
    margin: 5px 0;
    font-size: 30px;
    line-height: 60px;
  }
  .seccion_banner .banner_inner .banner_content h5 {
    font-size: 19px;
    margin: 0;
  }
  .bannImgAnim {
    display: none;
  }
  /* =========================== */
  /*         FIN BANNER          */
  /* =========================== */

  /* =========================== */
  /*       INICIO CONOCEME       */
  /* =========================== */
  .about_area .about_img {
    margin-bottom: 40px;
  }
  /* =========================== */
  /*        FIN CONOCEME         */
  /* =========================== */
  /* =========================== */
  /*    INICIO FOOTER CONOCEME   */
  /* =========================== */
  .brand_area {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  /* =========================== */
  /*      FIN FOOTER CONOCEME   */
  /* =========================== */

  /* =========================== */
  /*      INICIO VIDA PROFE      */
  /* =========================== */
  .portfolio_area .filters ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #222222;
    cursor: pointer;
  }
  .portfolio-grid,
  .portfolio-grid-certificados {
    grid-template-columns: 1fr;
  }
  /* =========================== */
  /*       FIN VIDA PROFE        */
  /* =========================== */
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  /* Estilos para tabletas */
}

@media (min-width: 1024px) {
  header .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  }
  header .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}
